@use "../styles/mixins" as mixins;

.container {
  min-height: 100dvh;
  padding: 1.25rem;

  display: grid;
  place-items: center;
}

.content {
  @include mixins.glass-panel;

  width: min(600px, 100%);
  max-height: 75dvh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.title {
  text-align: center;
  margin: 0;

  font-size: var(--font-size-title);
  font-weight: bolder;

  color: var(--text-primary);
  letter-spacing: -0.04em;
}

.subtitle {
  font-size: var(--font-size-subtitle);
  color: var(--text-primary);
  text-align: center;
}

.gameList {
  list-style: none;

  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  min-height: 0;
  overflow-y: auto;

  flex: 1;
}

.gameCard {
  @include mixins.interactive-card;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectButton {
  background: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
}
