@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@500;700;800&family=Poppins:wght@500;600;700&display=swap");

* {
  font-family: "Plus Jakarta Sans", sans-serif; /* Fonte padrão para o texto */
}

:root {
  font-family: "Chakra Petch", sans-serif; /* Fonte padrão para o texto */

  color: #0a192f;
}

.app {
  min-height: 100vh;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(255, 245, 110, 1) 100%
  );
  font-family: "Chakra Petch", sans-serif;
}
